#include "radio.h"
#include "menu.h"

IDR_MYMENU MENU
BEGIN
    POPUP "&Game"
    BEGIN
        MENUITEM "&Exit", ID_FILE_EXIT
    END

    POPUP "&Background"
    BEGIN
        MENUITEM "&Black", IDR_RADIO1
        MENUITEM "&White", BCK_WHITE
        MENUITEM "&Grey", IDR_RADIO2
    END

    POPUP "&File"
    BEGIN
        MENUITEM "&Change Window Name", CHANGE_WIND_NAME
        MENUITEM "&Save", ID_SAVE_STATE
        MENUITEM "&Load", ID_LOAD_STATE
    END
    POPUP "&Info"
    BEGIN
        MENUITEM "&What is Blackjack?", DLL_BTN
        MENUITEM "&Feedback", 0, GRAYED
    END
END

MYDIALOG DIALOG 50, 50, 100, 100
//STYLE WS_CAPTION | WS_POPUP | WS_SYSMENU | DS_MODALFRAME
//FONT 8, "MS Shell Dlg"
CAPTION "My Dialog"
{
    LTEXT "New name of the window:", 10000, 5, 5, 130, 10
    DEFPUSHBUTTON "&Close", DIALOG_BUTTON, 5, 100, 60, 15
}

